// It's highly recommended to change the default colors
// to match your app's branding.

$primary       : #F4F0E6;
$secondary     : #F9F7F2;
$complementary : #D3C3A4;
$accent        : #9C27B0;

$dark          : #5C6177;

$positive      : #21BA45;
$negative      : #C10015;
$info          : #31CCEC;
$warning       : #F2C037;

@import '~quasar-variables-styl'
