<template>
  <div class="cmt-pager">
    <div class="cmt-pager__selector">
      <span>Rows:</span>
      <q-select
        class="cmt-pager__select bg-complementary"
        color="brown-12"
        v-model="recordsPerPage"
        borderless
        dense
        emit-value
        :options="options"
      />
    </div>
    <div class="cmt-pager__info">
      {{ rangeInitPage }}-{{ rangeEndPage }} of {{ totalRows }}
    </div>
    <div class="cmt-pager__controls">
      <q-btn
        ref="prevButton"
        flat
        no-caps
        round
        :disable="disablePrevButton"
        @click="handlePage('prev')"
      >
        <i
          aria-hidden="true"
          class="material-icons q-icon q-select__dropdown-icon"
          >arrow_left</i
        >
      </q-btn>
      <q-btn
        ref="nextButton"
        flat
        no-caps
        round
        :disable="disableNextButton"
        @click="handlePage('next')"
      >
        <i
          aria-hidden="true"
          class="material-icons q-icon q-select__dropdown-icon"
          >arrow_right
        </i>
      </q-btn>
    </div>
  </div>
</template>

<script>
export default {
  name: "CmtPager",

  props: {
    lastPage: {
      type: Number,
      default: 0
    },
    totalRows: {
      type: Number,
      default: 0
    }
  },

  data() {
    return {
      rangeInitPage: 0,
      rangeEndPage: 0,
      recordsPerPage: null,
      page: null,
      options: [
        {
          label: "5",
          value: 5
        },
        {
          label: "10",
          value: 10
        },
        {
          label: "25",
          value: 25
        },
        {
          label: "100",
          value: 100
        }
      ]
    };
  },

  created() {
    this.recordsPerPage = 5;
    this.page = 1;
  },

  computed: {
    disablePrevButton() {
      return this.page <= 1;
    },
    disableNextButton() {
      return this.page >= this.lastPage;
    }
  },

  methods: {
    handlePage(followingPage) {
      // TODO: Improve nested if
      if (followingPage === "prev") {
        if (this.page > 1) {
          this.page = this.page - 1;
        }
      } else {
        if (this.page < this.lastPage) {
          this.page = this.page + 1;
        }
      }
    },

    calculatePaginationValues() {
      this.rangeInitPage = this.recordsPerPage * (this.page - 1) + 1;
      this.rangeEndPage = this.recordsPerPage * this.page;
    }
  },

  watch: {
    page(newValue) {
      this.calculatePaginationValues();
      this.$emit("page-selected-changed", newValue);
    },
    recordsPerPage(newValue) {
      this.calculatePaginationValues();
      this.$emit("records-per-page-changed", newValue);
    }
  }
};
</script>

<style lang="scss" scoped>
@mixin flex-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cmt-pager {
  @include flex-center;

  &__selector,
  &__info,
  &__controls {
    flex: 1 0 auto;
    margin-left: 20px;
  }

  &__selector {
    @include flex-center;
  }

  &__info {
    min-width: 80px;
  }

  &__select {
    margin: 0 0 0 20px;
  }
}
</style>
