<template>
  <div class="cmt-search">
    <input
      class="cmt-search__input"
      v-model="input"
      :placeholder="placeholder"
    />
    <i aria-hidden="true" class="material-icons q-icon cmt-search__icon">
      search
    </i>
  </div>
</template>

<script>
import debounce from "@/helpers/debounce";

export default {
  name: "CmtSearch",

  props: {
    placeholder: String,
    searchTerm: {
      type: String,
      default: ""
    }
  },

  data() {
    return {
      input: "",
      debouncedInput: ""
    };
  },

  watch: {
    searchTerm() {
      if (this.searchTerm === "") {
        this.input = "";
      }
    },
    input: debounce(function(newValue) {
      this.debouncedInput = newValue;
      this.$emit("search-value-changed", this.debouncedInput);
    }, 400)
  }
};
</script>

<style lang="scss" scoped>
.cmt-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  &__input {
    flex: 1 0 auto;
    background-color: transparent;
    border: 0;
    padding: 6px;
  }
}
</style>
