<template>
  <div class="cmt-table">
    <div class="cmt-table__container">
      <div class="cmt-table__top">
        <div class="cmt-table__title">{{ title }}</div>
        <div v-if="filterable" class="cmt-table__search">
          <cmt-search
            placeholder="Search"
            :searchTerm="searchTerm"
            @search-value-changed="handleSearchValueChanged"
          />
        </div>
      </div>
      <div class="cmt-table__middle">
        <q-markup-table class="cmt-table__table" :dense="$q.screen.lt.md">
          <thead>
            <tr class="text-left">
              <th
                v-for="(col, index) in columns"
                :key="index"
                @click="col.sortable ? sortTable(col) : null"
              >
                <!-- TODO: If time available, replace underline with arrow -->
                <template v-if="col.sortable">
                  <span class="underlined">{{ col.label }}</span>
                </template>
                <template v-else>
                  {{ col.label }}
                </template>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(movie, index) in bodyData"
              class="text-left"
              :key="index"
            >
              <td v-for="(col, index) in columns" :key="index">
                {{ movie[col.name] }}
              </td>
            </tr>
          </tbody>
        </q-markup-table>
      </div>
      <div class="cmt-table__bottom">
        <cmt-pager
          v-if="paginable"
          :lastPage="lastPage"
          :totalRows="totalRows"
          @page-selected-changed="handlePageSelected"
          @records-per-page-changed="handleRecordsPerPageChanged"
        />
      </div>
    </div>
    <div v-if="loading" class="cmt-table__loading">
      <q-spinner color="secondary" size="3em" :thickness="10"></q-spinner>
    </div>
  </div>
</template>

<script>
import CmtSearch from "@/components/CmtSearch";
import CmtPager from "@/components/CmtPager";

export default {
  name: "CmtTable",

  props: {
    bodyData: {
      type: Array,
      default: () => []
    },
    columns: {
      type: Array,
      default: () => []
    },
    filterable: {
      type: Boolean,
      default: false
    },
    lastPage: {
      type: Number,
      default: 0
    },
    loading: {
      type: Boolean,
      default: false
    },
    paginable: {
      type: Boolean,
      default: false
    },
    searchTerm: {
      type: String,
      default: ""
    },
    title: {
      type: String,
      default: ""
    },
    totalRows: {
      type: Number,
      default: 0
    }
  },

  data() {
    return {
      empty: true
    };
  },

  watch: {
    bodyData() {
      if (this.bodyData.length > 0) {
        this.empty = false;
      }
    }
  },

  methods: {
    handleSearchValueChanged(searchValue) {
      this.$emit("search-value-changed", searchValue);
    },

    handleRecordsPerPageChanged(recordsAmount) {
      this.$emit("records-per-page-changed", recordsAmount);
    },

    handlePageSelected(pageSelected) {
      this.$emit("page-selected-changed", pageSelected);
    },

    sortTable(column) {
      this.$emit("sort-table-changed", column);
    }
  },

  components: {
    CmtSearch,
    CmtPager
  }
};
</script>

<style lang="scss" scoped>
.cmt-table {
  width: 100%;
  position: relative;

  &__container {
    position: relative;
    z-index: 0;
    min-height: 100%;
  }

  &__top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    height: 48px;
  }

  &__title {
    flex: 0 1 25%;
    font-size: 1.2em;
  }

  &__search {
    flex: 0 1 50%;
    text-align: right;
  }

  &__middle {
    max-width: 100%;
    overflow: auto;
  }

  &__bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 48px;
    width: 100%;
    padding: 0 12px;
  }

  &__loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.text-left {
  text-align: left;
}

.underlined {
  text-decoration: underline;
}
</style>
