<template>
  <q-page class="flex" flex-center>
    <cmt-table
      filterable
      paginable
      title="Movies"
      :columns="columns"
      :bodyData="moviesToDisplay"
      :lastPage="lastPage"
      :loading="loading"
      :totalRows="totalRows"
      :searchTerm="searchTerm"
      @page-selected-changed="handlePageSelected"
      @records-per-page-changed="handleRecordsPerPageChanged"
      @search-value-changed="handleSearchValueChanged"
      @sort-table-changed="handleSortTable"
    />
  </q-page>
</template>

<script>
import CmtTable from "@/components/CmtTable";
import fetch from "cross-fetch";

export default {
  name: "Movies",

  data() {
    return {
      filter: "",
      loading: false,
      rowsPerPage: 0,
      lastPage: 0,
      totalRows: 0,
      pageLimit: 0,
      ascending: false,
      searchTerm: "",
      sortColumn: "",
      page: null,
      smallDataSetUrl:
        "https://bitbucket.org/!api/2.0/snippets/clarity-ai/zeGpkj/4e570253410cf420bc2c47d56adf1c8903b3dc31/files/movies-small.json",
      longDataSetUrl:
        "https://bitbucket.org/!api/2.0/snippets/clarity-ai/zeGpkj/57d3cf6d02c2fd3a41091a8529c36382c5eaea35/files/movies.json",
      movies: [],
      moviesToDisplay: [],
      mergedArray: [],
      columns: [
        {
          name: "title",
          required: true,
          label: "Title",
          align: "left",
          field: row => row.title,
          format: val => `${val}`,
          sortable: true
        },
        {
          name: "year",
          align: "left",
          label: "Year",
          field: "year",
          sortable: true
        },
        {
          name: "director",
          align: "left",
          label: "Director",
          field: "director",
          sortable: true
        },
        { name: "cast", align: "left", label: "Cast", field: "cast" },
        {
          name: "genre",
          align: "left",
          label: "Genre",
          field: "genre",
          sortable: true
        },
        { name: "notes", align: "left", label: "Notes", field: "notes" }
      ]
    };
  },

  watch: {
    page() {
      let tempMoviesList = this.movies.slice(
        this.rowsPerPage * (this.page - 1),
        this.rowsPerPage * this.page
      );
      this.moviesToDisplay = tempMoviesList;
      if (this.sortColumn) {
        this.sortTable(this.sortColumn);
      }
      this.searchTerm = "";
    },
    rowsPerPage() {
      this.loading = true;
      this.searchTerm = "";
      setTimeout(() => {
        this.init();
      }, 1000);
    }
  },

  methods: {
    init() {
      if (!this.mergedArray.length) {
        this.getShortMoviesList();
      } else {
        this.setMoviesToDisplay(this.movies);
        this.loading = false;
      }
    },

    async getShortMoviesList() {
      let smallDataSet;
      this.loading = true;
      smallDataSet = await this.fetchData(this.smallDataSetUrl);
      this.setPaginationValues(smallDataSet);
      this.movies = smallDataSet;
      this.setMoviesToDisplay(this.movies);
      this.getLongMoviesList();
      this.loading = false;
    },

    async getLongMoviesList() {
      let longDataSet;
      this.loading = true;
      longDataSet = await this.fetchData(this.longDataSetUrl);
      this.mergedArray = this.movies.concat(longDataSet);
      this.setPaginationValues(this.mergedArray);
      this.movies = this.mergedArray;
      this.setMoviesToDisplay(this.movies);
      this.loading = false;
    },

    // TODO: Move to API Service
    async fetchData(url) {
      try {
        let response = await fetch(url);
        let dataFetched = await response.json();
        return dataFetched;
      } catch (err) {
        // TODO: Set error handling
        throw new Error(err);
      }
    },

    filterByValue(arr, value) {
      return arr.filter(function(item) {
        let uppercasedTitle = item.title.toUpperCase();
        return uppercasedTitle.startsWith(value.toUpperCase());
      });
    },

    handlePageSelected(pageSelected) {
      this.page = pageSelected;
    },

    handleRecordsPerPageChanged(recordsAmount) {
      this.rowsPerPage = recordsAmount;
    },

    handleSearchValueChanged(searchValue) {
      this.searchTerm = searchValue;
      this.setMoviesToDisplay(this.filterByValue(this.movies, searchValue));
    },

    handleSortTable(column) {
      this.sortColumn = column.name;
      this.sortTable(column.name);
    },

    removeDuplicatedMovies(moviesList) {
      const filteredMovies = moviesList.reduce((acc, current) => {
        const movieItem = acc.find(movie => movie.title === current.title);
        if (!movieItem) {
          return acc.concat([current]);
        } else {
          return acc;
        }
      }, []);

      return filteredMovies;
    },

    setPaginationValues(list) {
      this.totalRows = list.length;
      this.lastPage = Math.ceil(this.totalRows / this.rowsPerPage);
    },

    setMoviesToDisplay(movies) {
      let moviesTempList = [];
      let iterations;

      this.loading = true;

      if (this.rowsPerPage >= movies.length) {
        iterations = movies.length;
      } else {
        iterations = this.rowsPerPage;
      }

      if (this.sort === "desc") {
        for (
          var i = movies.length - 1;
          moviesTempList.length < iterations;
          i--
        ) {
          moviesTempList.push(movies[i]);
        }
      } else {
        for (var j = 0; j < iterations; j++) {
          moviesTempList.push(movies[j]);
        }
      }

      this.moviesToDisplay = this.removeDuplicatedMovies(moviesTempList);

      if (this.sortColumn) {
        this.sortTable();
      }

      this.loading = false;
    },

    sortTable(col) {
      let ascending;

      if (this.sortColumn === col) {
        this.ascending = !this.ascending;
      } else {
        this.ascending = true;
        this.sortColumn = col;
      }

      ascending = this.ascending;

      this.moviesToDisplay.sort(function(a, b) {
        if (!a[col]) {
          return 1;
        } else if (!b[col]) {
          return -1;
        } else if (a[col].toString().trim() > b[col].toString().trim()) {
          return ascending ? 1 : -1;
        } else if (a[col].toString().trim() < b[col].toString().trim()) {
          return ascending ? -1 : 1;
        } else {
          return 0;
        }
      });
    }
  },

  components: {
    CmtTable
  }
};
</script>

<style lang="scss">
.all-width {
  flex: 1 0 100%;
}
</style>
