<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated container class="bg-primary text-dark">
      <q-toolbar>
        <q-toolbar-title>Movies test exercise</q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-footer elevated class="bg-primary text-dark text-center">
      <q-toolbar>
        <q-toolbar-title>v{{ appVersion }}</q-toolbar-title>
      </q-toolbar>
    </q-footer>

    <q-page-container class="bg-secondary">
      <Movies />
    </q-page-container>
  </q-layout>
</template>

<script>
import Movies from "./components/Movies.vue";
import { version } from "../package.json";

export default {
  name: "LayoutDefault",
  components: {
    Movies
  },
  data() {
    return {
      appVersion: version
    };
  }
};
</script>
